<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>회원가입</title>
</head>
<body>
    <h3>회원가입</h3>
    <div>
        <form method="post" action = "/join/auth">
            이름 : <input type = "text" name = "name"><br>
            ID : <input type = "text" name = "id"><br>
            Password : <input type = "password" name = "pw"><br>
            휴대폰 번호 : <input type = "text" name = "phone"><br>
            <input type="submit" value = "회원가입">
        </form>
    </div>
</body>
</html>